# Uncrustify configuration for C++

# Use 4 spaces for indentation
indent_columns = 4
input_tab_size = 4
output_tab_size = 4
indent_with_tabs = 0

# Space before and after operators
sp_arith = add
sp_assign = add
sp_bool = add
sp_compare = add
sp_inside_paren = remove
sp_paren_paren = remove
sp_paren_brace = add
sp_brace_brace = add

# Braces on new line for functions and classes
nl_class_brace = add
nl_enum_brace = add
nl_struct_brace = add

# Custom rule: Always add a space before '{' in function definitions
sp_func_def_paren = add

# End of file newline
nl_end_of_file = add 